@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos Navbar  */

.linkStyle {
  @apply block py-2 pl-3 pr-4 text-white rounded md:bg-transparent md:text-gray-50 md:p-0 md:hover:text-blue-500;
}

.ulNavbarStyle {
  @apply flex flex-col p-4 md:p-0 mt-4 font-medium border border-gray-100 rounded-lg md:flex-row md:space-x-8 md:mt-0 md:border-0;
}

.buttonBlueNavbarStyle {
  @apply text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center mr-3 md:mr-0 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800;
}

.grayBlueNavbarStyle {
  @apply inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600;
}

/* Estilos formulario vehiculo*/

.fieldStyles {
  @apply shadow appearance-none border rounded w-full py-2 px-3 text-gray-800 leading-tight;
}

.formStyles {
  @apply bg-slate-800  mt-10 text-base text-gray-50 shadow-md rounded-3xl  px-8 pt-6 pb-8 mb-4 max-w-lg mx-auto;
}

/* Estilos generacion de factura */
.spareInputStyle {
  @apply w-full px-3 py-2 rounded-lg border-2 border-gray-300 focus:outline-none focus:border-indigo-500;
}
